<h1>Async</h1>

<script>
    const cart = [];

    function add(item) {
        cart.push(item);
        console.log('item => added', item);
    }
    async function shop() {
        add('bisli');
        add('tehina');
        add('apple');

        await cheeseGuy();
        add('cheese');

        await meatGuy();

        add('meat');
        add('coffee');

        console.log(cart);
    }

    function cheeseGuy() {
        console.log('cutting cheese...');

        return new Promise(function (res) {
            setTimeout(function () {
                console.log('done cutting..')
                res();
            }, 3000);
        })

    }

    function meatGuy() {
        console.log('cutting meat...');
        return new Promise(function (res) {
            setTimeout(function () {
                console.log('done meat.');
                res();
            }, 3000)
        });
    }

    shop();
</script>