<style>
    h1 {
        color: red;
    }

    .box {
        background-color: blue;
        color: white;
        width: 100px;
        height: 50px;
        margin: 10px;
    }
</style>
<div>
    <h1 id="main" onclick="changeValue()">{{content}}</h1>
    <div id="wrapper">
    </div>
</div>

<script>
    function changeValue() {
        document.getElementById('main').innerHTML = 'boom';
    }
    console.log('This is from client')
</script>

<script>
    {
        var arr = [55, 4, 3, 5];
        var sum = 0;

        arr.forEach(function (item) {
            if (item < 10) {
                const addon = 5;
                sum = sum + item + addon;
            }
        })

        console.log(sum);
    }
</script>

<script>
    /*
    const wrapper = document.getElementById('wrapper');
    const arr2 = [1, 2, 'Mosh', 4];

    arr2.forEach(function (item) {
        const div = document.createElement('div');
        div.setAttribute('class', 'box');
        div.innerHTML = item;
        //wrapper.append(div);
    })
    */
</script>

<script>
    const users = [
        {
            name: 'Mosh',
            email: 'mosh@gmail.com',
            phone: '123123',
            address: {
                city: 'Tel Aviv',
                street: 'Bloch',
                homenumber: '20'
            }
        },
        {
            name: 'David',
            email: 'david@gmail.com',
            phone: '123123',
            address: {
                city: 'Tel Aviv',
                street: 'Bloch',
                homenumber: '20'
            }
        },
        {
            name: 'Pablo',
            email: 'pablo@gmail.com',
            phone: '123123',
            address: {
                city: 'Tel Aviv',
                street: 'Bloch',
                homenumber: '20'
            }
        }
    ];

    users.forEach(function(user) {
        const wrapper = document.getElementById('wrapper');
        const div = document.createElement('div');
        div.setAttribute('class', 'box');
        div.innerHTML = user.name + ' ' + user.email;

        wrapper.append(div);
    })
    console.log(users);
</script>