<head>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
</head>
<h1>Rest</h1>
<button onclick="getUsers()">Get Users</button>
<div id="users">

</div>
<script>
    async function getUsers () {
        const resp = await axios.get('http://localhost:5001/users');
        console.log(resp.data);

        const users = resp.data;

        users.forEach(function(user) {
            console.log(user.name);

            const h2 = document.createElement('h2');
            h2.innerHTML = user.name;

            const usersTag = document.getElementById('users');
            usersTag.append(h2);
        });
    }
</script>